@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Poppins", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

html{
  /* font-size: 16px; */
  font-size: clamp(8px, 1.1vw, 16px);;
  background-color: black;

}

.gradient-border {
    position: relative;
    border-radius: 0.5rem; /* Adjust this value to change the border radius */
    transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.gradient-border::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 2.5rem;
    background: linear-gradient(to right, #7E317A, #DB4469, #EFAA76);
}

.gradient-border:hover::after {
    content: '';
    position: absolute;
    top: 35px;
    left: 35px;
    right: 30px;
    bottom: 20px;
    background: linear-gradient(to right, #7E317A, #DB4469, #EFAA76);
    filter: blur(30px);
  }

.gradient-border:hover {
    transform: translateY(-20px);
  }
  

.gradient-border span {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background-color: #181818;
    z-index: 2;
    border-radius: 2.5em;
  }
  .cardcontent{
    z-index: 5;
  }


  .mask1 {
    -webkit-mask-image: url('./assets/images/AboutUs/ImageSection/Group.png');
    mask-image: url('./assets/images/AboutUs/ImageSection/Group.png');
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
  }



/* AboutUs > IamgeSection > Way3 */
  .image-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url('./assets/images/AboutUs/ImageSection/Group.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: darken;
}
/* ********************************** */



  /* .details{
    outline: 1px solid red;
   
  } */


  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* **************Scrollbar******************* */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media (min-width: 516px) and (max-width: 767px) {
  .translate-custom {
    transform: translateY(2.5rem); /* Equivalent to translate-y-10 in Tailwind */
  }
}
